*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    display: flex;
    flex-direction: column;
    
}

.navcontainer{
    background-color: #071c2e;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

img.NavLogo{
    width: 40%;
    height: auto;
}

main{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}

.category{
    background-color: rgb(248, 216, 176);
    border: none;
    border-radius: 10px;
    padding: 0.2rem 0.3rem;
    font-weight: 600;
    justify-content: left;
    width: 120px;
    margin-bottom: 10px;
   
}

.actions{
    position: relative;
    float: right;
    margin-top: 20px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding: 0.4rem 0.8rem 0.4rem 0.4rem;
    background-color: #ffffff;
    color: #14599d;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(211, 211, 211);
    border-width: 1px;
}
.actions .material-symbols-outlined{
    margin-right: 4px; /* Space between icon and text */
    font-size: 16px; /* Adjust size of the icon if needed */

}

h1{
  padding: 0.2rem 0rem;
}

h2{
    font-weight: 200;
    padding: 0.2rem 0rem;
    font-size: 16px;
}

h3{
    font-size: 12px;
    font-weight: 100;
    font-style: italic;
    color: rgb(87, 87, 87);
}

h4{
    font-size: 12px;
    font-weight: 100;
    color: rgb(87, 87, 87);
}



.tableofcontent{
    font-size: 12px;
    letter-spacing: 1px;
    word-spacing: 1rem;
    color: rgb(26, 26, 26);
    opacity: 0.8;
    padding-top: 1rem;
    padding-bottom: 1.5rem;

}

.audioplayer{
    width: 100%;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    border: none;
    background-color: #ffffff;
    color: #14599d;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(211, 211, 211);
    border-width: 1px;
}

.tableofcontent_btn {
    width: 100%;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    border: none;
    background-color: #ffffff;
    color: #14599d;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(211, 211, 211);
    border-width: 1px;

}

.tableofcontent_btn .material-symbols-outlined {
    margin-right: 8px; /* Space between icon and text */
    font-size: 24px; /* Adjust size of the icon if needed */
}

.tableofcontent_btn:hover {
    background-color: #0056b3;
}

.material-symbols-outlined{
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.bio{
    margin-top: rem;
    margin-bottom: 1rem;
    border-style: solid;
    border-color: rgb(211, 211, 211);
    border-width: 1px;
    padding-bottom: 1rem;
    padding-top: rem;
}

figure{
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 1rem;
    justify-content: center;
}
img.tim_portrait{
    width: 100%;
    height: auto;
    background-size: cover;
    border-radius: 10px;

}
.tim_portrait
btn {
    font-size: 12px;
    cursor: pointer; /* Mouse pointer on hover */
  } 


bscribe{
    color: #c94100;
}

links{
    navy: #0e365a;
  --navy-dark: #071c2e;
  --blue: #14599d;
  --blue-strong: #0284c7;
  --blue-dark: #0e3f70;
}