*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.navcontainer{
    background-color: #071c2e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    text-decoration: none;
    border: none;
    outline: none;
}

.navcontainer .material-icons{
    font-size: 20px;
    color: white;
    background-color: #071c2e;
    margin: 0;
    padding: 0.2rem;
    text-decoration: none;
    border: none;
    outline: none;
}


.left{
    flex: 1;          /* shorthand for: flex-grow: 1, flex-shrink: 1, flex-basis: 0 */
    display: flex;
    justify-content: flex-start;
    align-items:center;
}

.NavLogo{
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
}

.right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.account{
    display: flex;
}

.subscribe{
    color: white;
    background-color:rgb(159, 65, 25);
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    font-weight: 600;
    transition: background-color 0.3s;
    margin-left: 5px;;
}

.subscribe:hover{
        background-color:rgb(102, 64, 48);
}


main{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}

.tableofcontent{
    font-size: 12px;
    letter-spacing: 1px;
    word-spacing: 0.4rem;
    color: rgb(26, 26, 26);
    opacity: 0.8;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.category{
    background-color: rgb(248, 216, 176);
    border: none;
    border-radius: 10px;
    padding: 0.2rem 0.3rem;
    font-weight: 600;
    justify-content: left;
    width: 120px;
    margin-bottom: 10px;
   
}

.actions{
    position: relative;
    float: right;
    margin-top: 20px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding: 0.4rem 0.8rem 0.4rem 0.4rem;
    background-color: #ffffff;
    color: #14599d;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(211, 211, 211);
    border-width: 1px;
}

.actions:hover{
    background-color:#d6e9fc;
}


.actions .material-symbols-outlined{
    margin-right: 4px; /* Space between icon and text */
    font-size: 16px; /* Adjust size of the icon if needed */

}

h1{
  padding: 0.2rem 0rem;
  font-size: 28px;
}

h2{
    font-weight: 200;
    padding: 0.2rem 0rem;
    font-size: 18px;
}

h3{
    font-size: 12px;
    font-weight: 100;
    font-style: italic;
    color: rgb(87, 87, 87);
}

h4{
    font-size: 14px;
    font-weight: 400;
    color: rgb(87, 87, 87);
    letter-spacing:
}

h5{
    font-style: normal;
    font-weight: 100;
    font size: 14px;
}

.underlign{
    text-decoration-style: dotted;
}

a:link{
    color: rgb(72, 116, 170);
}

.tableofcontent_btn {
    width: 100%;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #14599d;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(211, 211, 211);
    border-width: 1px;
}

.tableofcontent_btn:hover {
    background-color:#d6e9fc;
}

/* .button{
    transition-duration: 0.4S;
}

.button:hover{
    background-color:#e0edfb;
} */

.tableofcontent_btn .material-symbols-outlined {
    margin-right: 8px; /* Space between icon and text */
    font-size: 24px; /* Adjust size of the icon if needed */
}



.material-symbols-outlined{
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}


.audioplayer{
    width: 100%;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #14599d;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 1rem;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(211, 211, 211);
    border-width: 1px;
}

.bio{
    margin-top: rem;
    margin-bottom: 1rem;
    border-style: solid;
    border-color: rgb(211, 211, 211);
    border-width: 1px;
    padding-bottom: 1rem;
}

figure{
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 1rem;
    justify-content: center;
    border-style: solid;
    border-color: rgb(211, 211, 211);
    border-width: 1px;
    border-radius: 10px;
}

img.tim_portrait{
    width: 100%;
    height: auto;
    background-size: cover;
    border-radius: 10px;

}

figcaption{
    padding: 0.5rem;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.media_button{
    width: 100%;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
    color: #14599d;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
}

hr{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-top: 0.1px solid rgb(211, 211, 211);
}

.short_intro{
    line-height: 1.8rem;
    margin-top: 1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

p{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.8rem;
    margin-top: 1rem;
    font-size: ;
}

a{

}
btn {
    font-size: 12px;
    cursor: pointer; /* Mouse pointer on hover */
  } 


bscribe{
    color: #c94100;
}

links{
    navy: #0e365a;
  --navy-dark: #071c2e;
  --blue: #14599d;
  --blue-strong: #0284c7;
  --blue-dark: #0e3f70;
}